@{
    ViewData["Title"] = "Főoldal";
}

<div><p>A csapatok szerkesztéséhet csak bejelentkezett felhasznáóknak van jogosultsága.</p></div>
<div class="text-center">
    <h6 class="display-4">Forma 1</h6>
    
</div>
